* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

img {
  display: none;
}

ul {
  list-style-type: none;
  padding-left: 0;

}


a {
    text-decoration: none;
    color: #6799ff;
    padding:15px 15px;
    display: block;
}
.inner-links > a {
    color: black;
    padding: 4px 15px;
}
.border-bottom {
  border-bottom: 1px solid black;
}

.logo {
  padding:14px 18px;
}
.hamburger {
    width: 48px;
    height: 42px;
    border: 1px solid #eeeeef;
    border-radius: 2px;
    box-shadow: 0 0 2px #eeeeef;
    padding: 10px 10px;
    position: absolute;
    top:10px;
    right: 10px;
}

.hamburger-stripe {
    background-color: #6799ff;
    height: 3px;
    margin-bottom: 5px;
}

.top-nav > ul {
  padding-left: 0;
}

.hidden {
  display: none;
}

.InnerNavLinks {
    background-color:#f9fbff;
}
/* Add your CSS here */
